.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 26px;
  background-color: #56ACAE;
  color: #fff;
}

html, body {
  padding: 0;
  margin: 0;
}

.button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
  background: #1F271B;
	color: #fff;
	box-shadow: 0 6px #0C0F0A;
	transition: none;
}

.button:hover {
	box-shadow: 0 4px #0C0F0A;
}

.button:active {
	box-shadow: 0 0px #0C0F0A;
}

.button:focus {
  outline:0;
}

a {
  text-decoration: none;
  color: #EFD371;
}

a:hover {
  text-decoration: underline;
}