.header {
  background: #21271C;
  text-align: center;
  padding: 30px 0;
}

.header_logo {
  width: 120px;
  height: auto;
}

.header_title {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.header_info-small {
  font-size: 12px;
}
