.controller {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}
.joypad {
  position: relative;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background-color: #30637B;
  z-index: 2;
}
.joypad-mid {
  height: 230px;
  width: 420px;
  z-index: 1;
  padding: 20px 70px;
  box-sizing: border-box;
  text-align: center;
}
