/** ACTION BUTTONS **/
.action_button {
  margin: 0 5px;
  padding: 15px 30px;
  border-radius: 5px;
}
.action_button:hover {
	top: 2px;
}
.action_button:active {
	top: 6px;
}
.action_button-red {
  background-color: rgba(211, 81, 81, 0.63);
}
